*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-color-primary: #f7dd43;
    --card-title-border-color: #746615;
    --card-bg-color: #1d1c19; 
    --bg-img: url('/assets/bg-yellow.svg')  
}

body {
    display: flex;
    justify-content: center;
    background: #121214 var(--bg-img) no-repeat top center/cover;
    
}

body * {
    font-family: 'Roboto', sans-serif;
    
    
}

body.blue {
    --card-color-primary: #338af3;
    --card-title-border-color: #338af3; 
    --card-bg-color: #202024; 
    --bg-img: url('/assets/bg-blue.svg')  
}

body.green {
    --card-color-primary: #047c3f;
    --card-title-border-color: #047c3f;
    --card-bg-color: #1a1f1b;
    --bg-img: url('/assets/bg-green.svg')
}    

main {
    justify-content: center;
}

#app {
    
    width: fit-content;
    margin: auto;
    padding-top: 52px;
    
}

header {
    margin-top: 30px;
    margin-bottom: 63px;
    text-align: center;    
    animation: appear .2s forwards;
    display: flex;
    justify-content: center;
    
}

ul {
    list-style: none;
}

.card {
    border-bottom: 2px solid var(--card-color-primary);
    padding: 32px 23px;
    text-align: center;
    background: var(--card-bg-color);
    animation: appear .2s forwards;
    margin: 20px;      
    
}

.card h2 {
    padding: 8px 16px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: #f7dd43;   
    width: fit-content; 
    margin-inline: auto;
    margin-bottom: 53px;
    align-items: center;
    
}

.card h2 span {
    color: white;
   font-size: 14px;
   text-transform: uppercase;
    
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}

.card ul li + li {
    padding-top: 48px;
    border-top: 1px solid #323238
}

.card ul li strong {
    color: #e1e1e6;
    line-height: 125%;
    font-weight: 900;
    font-size: 36px;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.1);
}
.card h2,
.card ul li strong,
.card ul li img {
    transition: transform 0.3s;
}

#cards {
    display: flex;
    flex-direction: column;
}

@keyframes appear {
    0% {
        transform: translate(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;    
    }
    }
    
@media (min-width: 700px) {
    #cards {
        max-width: 900px;
        flex-direction: row;
        flex-wrap: wrap;
        }
    }


